// Site Colors

$black:								#000;
$white:								#fff;
$mine-shaft:						#222;
$river-bed:							#5a5d62;
$charcoal:							#474747;
$bokara-gray:						#282828;
$ocean-boat-blue:					#0079c1;
$deep-sky-blue:						#06c9fa;

$color-background:					$white;
$color-body:						$black;
$color-hr:							#e1e1e1;

$color-link: 						#1eaedb;
$color-link-visited:				#1eaedb;
$color-link-hover: 					#0fa0ce;

$color-button:						#555;
$color-button-hover: 				#333;
$color-button-background: 			transparent;
$color-button-border: 				#bbb;
$color-button-border-hover: 		#888;

$color-primary-button: 				#fff;
$color-primary-button-background: 	#33c3f0;
$color-primary-button-border: 		#33c3f0;

$color-button-primary-hover: 		#fff;
$color-button-background-hover: 	#1eaedb;
$color-primary-button-border-hover: #1eaedb;

$font-main:							"Helvetica Neue", "Helvetica", "Source Sans Pro", sans-serif;
$font-code:							Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre:							"Courier 10 Pitch", Courier, monospace;
$font-proxima:							"proximanovalight";
