.site-footer {
	@include rem(padding, 50px);
	color: $white;
	background: $black;


	.footer-content {
		@include row();
		font-size: 16px;
		font-family: proximanovalight;

		.footer-widget {
		  p {
			padding-right: 50px;
		  }
		}

		.footer-widget.wide {
			@include col(12);

			@include bp(800) {
				@include col-first(4);
				padding: 0;

			  p {
				padding-right: 50px;
			  }
			}
		}
	}
}

.footer-widget {
	.widget {
		@include bp(800) {
			padding: 0 15px 0 0;
		}
	}
        
}
.footer-widget {

	.widget-title {
		@include rem(font-size, 18px);
		font-weight: 600;
		font-family: proximanovalight;
	}

	a {
		color: $white;
		text-decoration: none;
	}
}
.footer-widget .widget ul li {
    margin-bottom: 10px;
}

.site-footer {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.site-info {
	@include rem(font-size, 12px);
	@include rem(padding, 20px 0);
	background: $river-bed;
	color: #fff;
	overflow: hidden;

	@include bp(600) {
		@include rem(font-size, 16px);
		display: block;
	}

	@include bp(800) {
		@include rem(font-size, 15px);
	}

	.site-info-content {

		@include bp(768) {
			padding: 0 20px;
		}

		.copyright {
			@include centered(10);
			padding-bottom: 20px;

			@include bp(768) {
				@include col-first(4);
			}
		}

		.site-info-inner {
			@include centered(10);
			padding-bottom: 20px;

			@include bp(768) {
				@include col-last(7);
				text-align: right;
			}
		}

	}
}

.site-footer {
	.footer-content {
		&:before,
		&:after {
			content: '';
			display: table;
		}
		&:after {
			clear:both;
		}
	}
}


.span6 {
    float: left;
    width: 50%;
}
.span4 {
    float: left;
    width: 33.33%;
}
.span3 {
    float: left;
    width: 25%;
}
.span2 {
    float: left;
    width: 16.66%;
}


@media (max-width:480px) {
.span6 {
    float: left;
    width: 100%;
}
.span4 {
    float: left;
    width: 100%;
}
.span3 {
    float: left;
    width: 100%;
}
.span2 {
    float: left;
    width: 100%;
}
}

@media (min-width:481px) and (max-width:767px) {
.span6 {
    float: left;
    width: 50%;
}
.span4 {
    float: left;
    width: 50%;
}
.span3 {
    float: left;
    width: 50%;
}
.span2 {
    float: left;
    width: 50%;
}
}

